# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
dist/
build/
venv/
.env
.env.*
.venv/
pip-log.txt
pip-delete-this-directory.txt

# -------------------------------
# Flask / App
# -------------------------------
instance/
*.db
*.sqlite
*.sqlite3

# -------------------------------
# Logs & temp files
# -------------------------------
*.log
*.out
*.err
*.pid
*.gz
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# -------------------------------
# IDE / Editor settings
# -------------------------------
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# -------------------------------
# Docker
# -------------------------------
# Ignore local build artifacts
**/db-data/
**/docker-entrypoint-initdb.d/
*.tar
*.img
*.bak
.dockerignore
# Keep Dockerfiles and compose
!Dockerfile
!docker-compose.yaml
!docker-compose.yml

# -------------------------------
# Terraform
# -------------------------------
Terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.backup

# -------------------------------
# Misc
# -------------------------------
node_modules/
__MACOSX/
*.zip
*.tar.gz
*.tgz
*.7z

# -------------------------------
# Local development files
# -------------------------------
.envrc
secret.env
.env.example

# -------------------------------
# Python testing / coverage
# -------------------------------
.coverage
coverage.xml
htmlcov/
.cache/
.pytest_cache/
.tox/
nosetests.xml
test-results/
